<!DOCTYPE HTML>
<html lang="ja" ng-app>
<head>
	<meta charset="UTF-8">
	<title>AngularJSの練習</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
	<script src="myscript.js"></script>
</head>
<body>
	<h1>AngularJSの練習</h1>
<!-- 	<input type="text" ng-model="name">
	<p>こんにちは {{name}}</p>
	<p>こんにちは {{5 * 3 * 3}}</p> -->

	<div ng-controller="mainCtrl">
		<p>{{users.length}} users.</p>

		<p>{{25 * 500|number}}</p>
		<p>{{68000*200|number}}</p>
		<p>{{68000*200|currency:"\\"}}</p>
		<p>{{today|date:'yyyy-MM-dd'}}</p>
		<ul>
			<li ng-repeat="user in users">
				{{user.name|lowercase}} {{user.score|number:4}}
			</li>
		</ul>

	</div>

</body>
</html>


